@import '~nativescript-theme-core/css/core.light.css';
@import 'theme.css';

.fa {
	font-family: "FontAwesome";
	font-weight: normal;
	text-align: center;
}

ActionBar .action-bar-title {
  horizontal-align:left;
}

  .action-bar-title Label {
    color: #fff;
  }

  .action-bar-title Label.fa {
    font-size: 26;
  }
